<h1>Bienvenidos</h1>

<div row class="container">
  <div class="jumbotron col-sm-6">
    <h1>Mascotas</h1>
    <p>Registra tus mascotas</p>
    <p><a class="btn btn-primary btn-lg" href="/CrearMascota" role="button">Registrar Mascotas</a> <a
        class="btn btn-primary btn-lg" href="/listarMascotas" role="button">Listar Mascotas</a></p>
  </div>
  <div class="col-sm-1"> </div>

  <div class="jumbotron col-sm-5">
    <h1>Razas</h1>
    <p>Registra razas</p>
    <p><a class="btn btn-primary btn-lg" href="/CrearRaza" role="button">Registrar Razas</a> <a
        class="btn btn-primary btn-lg" href="/listarRazas" role="button">Listar Razas</a></p>
  </div>
</div>

<div row class="container cent">

  <div class="jumbotron col-sm-5">
    <h1>Usuarios</h1>
    <p>Registra usuarios</p>
    <p><a class="btn btn-primary btn-lg" href="/CrearUsuario" role="button">Registrar Usuarios</a> <a
        class="btn btn-primary btn-lg" href="/listarUsuarios" role="button">Listar Usuarios</a></p>
  </div>

</div>
