<h1>Bienvenidos</h1>

<div row class="container">
  <div class="jumbotron col-sm-12">
    <h1>Mascotas</h1>
    <p>Registra tus mascotas</p>
    <p><a class="btn btn-primary btn-lg" href="/CrearMascota" role="button">Registrar Mascotas</a> <a
        class="btn btn-primary btn-lg" href="/listarMascotas" role="button">Listar Mascotas</a></p>
  </div>
  <div class="col-sm-1"> </div>

  
</div>
