<h1>Bienvenidos</h1>

<div class="jumbotron">
  <h1>Hero!</h1>
  <p>Registra tu hero para la web :)</p>
  <p><a class="btn btn-primary btn-lg" href="/crearhero" role="button">Registrar Hero</a></p>
</div>