

.ma-margen-top-bottom {
  margin-top: 20px;
  margin-bottom: 20px;
}

.ma-padding-top-bottom {
  padding-top: 20px;
  padding-bottom: 20px;
}
.formatoListar {
  background-color: #302424;
  color: white;
  border-radius: 5px;
}
