<!-- Default home page -->
<style>
    .blue{
        background: darkblue;
    }
</style>


<div class = "blue">
    <h1>HomePage starts</h1>
    <ul>
        <li><a href="/quito">Quito</a></li>
        <li><a href="/guayaquil">Guayaquil</a></li>
        <li><a href="/cuenca">Cuenca</a></li>
    </ul>
    <h1>HomePage ends</h1>

</div>